<!DOCTYPE html>
<html>

	<head>

	</head>

	<body style="background-image:url(<%= asset_path 'images.jpg'%>);  background-repeat:norepeat; width: 99%; height: 100%">


		<div >
			
			<h1> Welcome to Wall </h1>

		</div>

		<div >

			<div >

			<h1> Connect with friends and share your views on Wall. </h1>

			</div>

			<div >

				<%= link_to  'Signin' , action: "Signin" %>
				<%= link_to  'Signup' , action: "Signup" %>

			</div>

		</div>
		
	
	</body>

</html>